*{ box-sizing: border-box;}
body {margin: 0;}
body{background-color:#bfbfbf; margin-bottom: 0%;}

/*ul {position: -webkit-sticky;
    position: sticky;
    top: 0;}*/


/* Header */
div.header {text-align: left;
  padding:4px;
  margin-bottom: 0px;
  background-color: #436b6d;}

  p.text_header{
    font: Bradley Hand;
    font-family: fantasy;
    font-size: 30px;
    text-shadow: 2px 2px 8px darkslategrey;
    color: antiquewhite;
    background-size: 300px 157px;}

    li{border: darkgrey solid 1px;}

    /* Footer */
        .footer {
            left: 0;
            bottom: 0;
            width: 100%;
            background-color:  #436b6d;
            color: antiquewhite;
            text-align: center;
            padding-top: 0.2%;
            padding-bottom: 0.2%;

}

  /* Nav Bar */
  ul.topnav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #999999;
  }

  ul.topnav li {float: left;}

  ul.topnav li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
  ul.topnav li a:hover {background-color: #262626;}
  ul.topnav li.right {float: right;}


/* Pictures & links */
div.centered {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0px;
      padding: 12%;
      padding-left: 17%;
      padding-right: 17%;
    background-color: #ffffff;
      transform: translate(-50%, -50%);
       border-radius: 16%;
      opacity: 0.6;
      filter: alpha(opacity=60);
      font-size: 100%;
  }
  div.clearfix a {color: black;}
  a{ text-decoration: none;}
div.centered:hover{
  background-color: black;
  color:white;}

.img-container {
    float: left;
    width: 33.33%;
    padding: 5px;
    position: relative;
    text-align: center;
    font-weight: bold;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Phone View */
@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
}
@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
    /* The dropdown container */
    .dropdown {
      float: left;
      overflow: hidden;
    }
    .zoom {
        padding: 50px;
        background-color: green;
        transition: transform .2s; /* Animation */
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }
    body, html {
        height: 100%;
    }
  /*parallax*/

    .parallax {
        /* The image used */
        background-image: url('/Images/image1.jpg');

        /* Full height */
        height: 100%;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
