body{background-color:#f2f2f2; margin-bottom: 90%;}
ul {position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;}
div.header {text-align: center;}
p.image_top{background-image: url(background_rain.jpg) ; background-repeat: no-repeat;padding: 60px;}
h2{font: Bradley Hand;font-family: fantasy; font-size: 30px;}
