*{ box-sizing: border-box;}

body{background-color:#bfbfbf; margin-bottom: 90%;}

ul {position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;}



div.header {text-align: left;
  padding:4px;
  margin-bottom: 0px;
  background-color: #003328;}

div.centered {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0px;
      padding: 43px;
      padding-left: 62px;
      padding-right: 62px;
    background-color: #ffffff;
      transform: translate(-50%, -50%);
       border-radius: 16%;
      opacity: 0.6;
      filter: alpha(opacity=60);
  }

p.image_top{background-image: url(background_rain.jpg); background-repeat: repeat;}


p.text_header{
  font: Bradley Hand;
  font-family: fantasy;
  font-size: 30px;
  text-shadow: 2px 2px 8px darkslategrey;
  color: antiquewhite;
  background-size: 300px 157px;}

li{border: darkgrey solid 1px;}

.img-container {
    float: left;
    width: 33.33%;
    padding: 5px;
    position: relative;
    text-align: center;
    font-weight: bold;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}
